**ARQUIVO USADO PARA TESTARMOS E BRINCARMOS COM A BIBLIOTECA PANDAS

FUNÇÕES APRENDIDAS : SERIES (Para fácil entendimento, é uma tabela de banco de dados com apenas uma coluna e quantas linhas precisar)
                     DATAFRAME (Para fácil entendimento, nada mais nada menos do que uma tabela completa de banco de dados, podendo ser ótimo para leitura de informações provindas de datasets)

In [2]:
import pandas as pd
import numpy as np

In [4]:
serie_teste = pd.Series(np.random.random(10))

In [5]:
serie_teste

0    0.686298
1    0.976820
2    0.422032
3    0.836661
4    0.686899
5    0.399555
6    0.603694
7    0.940425
8    0.528754
9    0.942098
dtype: float64

In [6]:
serie_teste = pd.Series(np.random.random(3), index = ['random_1','random_2','random_3'])

In [7]:
serie_teste

random_1    0.212846
random_2    0.115352
random_3    0.699499
dtype: float64

In [12]:
dre_values = {'Receita_Bruta': 100000, 'Margem': 20, 'Receita_Liquida': 140000}
dre_ambev = pd.Series(dre_values)
dre_ambev

dre_values = {'Receita_Bruta': 102200, 'Margem': 25, 'Receita_Liquida': 120000}
dre_alb = pd.Series(dre_values)
dre_alb

Margem                 25
Receita_Bruta      102200
Receita_Liquida    120000
dtype: int64

In [16]:
pd.DataFrame({'Ambev': dre_ambev, 'Air Liquide': dre_alb})

                 Air Liquide   Ambev
Margem                    25      20
Receita_Bruta         102200  100000
Receita_Liquida       120000  140000

Podemos utilizar nas Series as funções que aprendemos em Numpy (Slice, Fancy Indexing, Masking), segue alguns exemplos abaixo:

In [20]:
serie_teste = pd.Series(np.random.random(10)) 
serie_teste[0:5]

0    0.550054
1    0.204893
2    0.339215
3    0.871581
4    0.022398
dtype: float64

In [21]:
serie_teste[(serie_teste > 0.10)]

0    0.550054
1    0.204893
2    0.339215
3    0.871581
5    0.430147
6    0.953771
7    0.601511
8    0.775511
9    0.318353
dtype: float64

In [22]:
serie_teste[[1,5]]

1    0.204893
5    0.430147
dtype: float64